# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.db
backend/**/uploads/
*.user
*.suo

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# Env & secrets
config/.env
frontend/.env
frontend/.env.local

# DB write-ahead log
backend/**/*.db-shm
backend/**/*.db-wal

# IDE
.vs/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
